.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  max-width: 600px;
  background: linear-gradient(rgb(0, 234, 255), rgb(0, 64, 255));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 195, 255);
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.upload-section {
  margin-bottom: 1rem;
  
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  margin: 2px 30px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}


.upload-button {
  margin: 2px 30px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #1976d2;
}

.preview-container {
  margin-top: 1rem;
  text-align: center;
}

.result-label {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

.preview-image {
  width: 200px;  /* Display the image in a smaller size */
  height: auto;
  border-radius: 5px;
  border: 1px solid #ddd;
}


